body{
  margin: 0;
  padding: 0;
}

header {
  width: 100%;
  height: auto;
}

#navbar{
  background-color: black;
  width: 100%;
	height: auto;
}

nav p{
  color: white;
}

nav ul{
  display: flex;
	justify-content: center;
  flex-direction: row;
  
}

nav ul li{
  text-decoration: none;
  text-align: center;
  display: block;
  position: relative;
}

nav ul li a{
  text-decoration: none;
  padding: 0 5px;
  display: block;
  color: white;
  letter-spacing: 2px;
}

ul li a .icon{
  width: 25px;
  height: 25px;
  text-align: center;
  margin: 0 auto 10px;
  
}






